
    <!-- end home >shop >img -->
       <section class="login">
        <div class="login-container row">
            <div class="part log col-12 col-md-6 col-lg-6">
                <div class="con">
                    <h2>Login</h2>
                    <form action="/login" method="post">
                <input type="email" name="email" placeholder="Your Email">
                <input type="password" name="password" placeholder="password">
                <input type="submit" >
                </form>
                <!-- <div class="btn"><a href=""> Login </a></div> -->
                </div>
            </div>
            <div class="part Account col-12 col-md-6 col-lg-6">
                <div class="con">
                <h2>Create an Account</h2>
                <form action="/signup" method="post">
                <input type="text" name="User" placeholder="Username">
                <input type="email" name="email" placeholder="Your Email">
                <input type="password" name="password" placeholder="password">
                <input type="submit" >
                </form>
                <!-- <div class="btn"><a href=""> Submit & Register </a></div> -->
                </div>
            </div>
        </div>
       </section>

