

<div class="download">
    <div class="download-container">
        <div class="content">
            <p class="path">الاحـــدث<i class="fa-solid fa-chevron-left"></i>أفلام أجنبى<i class="fa-solid fa-chevron-left"></i> {{movie.movieName}} <i class="fa-solid fa-chevron-left"></i> صفحة التحميل</p>
             <div class="btns">
                <button class="back" (click)="gotodetails(movie.movieId)"> عودة للتفاصيل <i class="fa-solid fa-arrow-left"></i></button>
                <button class="download" (click)="gotowatch(movie.movieId)"> مشاهدة الأن <i class="fa-solid fa-play"></i></button>
            </div>
            <div class="server-con">
                <p class="heading">سيرفر التحميل </p>
                <div class="item">
                    <div class="info active adjust">
                    <i class="fa-solid fa-rocket"></i>
                    <div class="data">
                        <p class="name">متعدد الجودات</p>
                        <div class="quality">VideTube</div>
                    </div>
                    </div>
                </div>
                <p class="heading"> <i class="fa-solid fa-download"></i> تحميل <span>1080p</span></p>
                <div class="row">
                    <div class="item col-6 col-lg-2">
                        <div class="info active">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">UpDown</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">BowFile</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">MdiaLoad</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">Ddownload</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">NitroFlare</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">1Ficheir</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">RapidGator</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="info">
                        <i class="fa-solid fa-download"></i>
                        <div class="data">
                            <p class="name">CloudFile</p>
                            <div class="quality">1080p</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>



