/* You can add global styles to this file, and also import other style files */


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   text-decoration: none;
   outline: none;
   font-family: "Cairo", sans-serif;
}

:root{
   --primary-color:#ff434c;
   /* --second-color:#ffffff0d; */
   --second-color:#33333354;
   --third-color:#7f7f7f;
   --fourth-color:#eac13b;
   --green-color:rgb(0, 179, 0);
   --cover-black:rgb(17, 16, 16) ;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);   
}

::-webkit-scrollbar-track {
  background: #0f0f0fe5; 
}